header {
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: 1px black solid;
}

nav ul {
    display: inline-flex;
    list-style: none;
    padding-bottom: 10px;
}

nav ul li {
    padding: 0 2em;
}

nav ul a:link {
    text-decoration: none;
}