.collapsible {
  cursor: pointer;
  border: solid 1px darkgray;
  padding: 15px;
  background-color: #333;
  color: #eee;
  display: flex;
  justify-content: space-between;
  /*max-width: 600px;*/
  margin: 0 auto;
}
.content {
  border-left: solid 1px darkgray;
  border-right: solid 1px darkgray;
  border-bottom: solid 1px darkgray;
  border-radius: 0 0 5px 5px;
  padding: 15px;
  font-size: 90%;
  background-color: rgb(233, 229, 224);
  /*max-width: 600px;*/
  margin: 0 auto;
}

.expand-btn {
  width: 18px;
  height: 18px;
}

.expand-arrow--expanded {
  transform: rotate(180deg);
}

.expand-btn svg path {
  fill: none;
  stroke: #eee;
  stroke-width: 10;
}

div.instruktioner {
  padding-top: 20px;
  justify-content: center;
  display: flexbox;
  margin: auto;
  width: 80%;
  max-width: 600px;
  min-width: 300px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: auto;
}
