div.playbar {
  display: inline-flex;
  background-color: #c45d1a;
  width: 100%;
  justify-content: center;
  padding: 10px;
  border-bottom: 1px solid #666;
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis 900ms infinite;
  animation: ellipsis 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 20px;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 20px;
  }
}
