div.infotext {
  display: flexbox;
  width: 80%;
  max-width: 600px;
  min-width: 300px;

  margin: auto;
  align-items: center;
}

.infotext img {
  max-width: 420px;
  height: auto;
  margin-bottom: 5px;
  width: 100%;
}

.infotext figure {
  margin-bottom: 2em;
  width: 100%;
  margin: 0 auto;
}

figcaption {
  text-align: center;
  font-size: 90%;
  font-style: italic;
}

/*p:first-of-type {
  text-align: justify;
  text-justify: auto;
  padding-bottom: 1em;
  font-size: 110%;
  text-align: center;
}*/

.breadText h2 {
  font-weight: normal;
  font-style: italic;
  text-align: left;
  padding-top: 0em;
  padding-bottom: 0em;
}

h2 {
  /*padding-bottom: 1em;*/
  font-size: 165%;
  text-align: center;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}

p {
  padding-bottom: 0.5em;
}

p a:visited,
p a:link {
  /*color: black;*/
  color: #0080ff;
}
