div.infotext {
  display: flexbox;
  padding-top: 1em;
  width: 63%;
  max-width: 800px;
  min-width: 300px;
  margin: auto;
  align-items: center;
}

.infotext img {
  max-width: 420px;
  height: auto;
}

/*p:first-of-type {
  text-align: justify;
  text-justify: auto;
  padding-bottom: 1em;
  font-size: 110%;
  text-align: center;
}*/

h2 {
  /*padding-bottom: 1em;*/
  /*font-size: 145%;*/
  text-align: center;
}

p {
  padding-bottom: 0.5em;
}

p a:visited,
p a:link {
  /*color: black;*/
  color: #0080ff;
}
