div.infotext {
  display: flexbox;
  padding-top: 1em;
  width: 63%;
  max-width: 800px;
  min-width: 300px;
  margin: auto;
  align-items: center;
}

p:first-of-type {
  /*text-align: justify;
  text-justify: auto;*/
  padding-bottom: 1em;
  font-size: 110%;
  text-align: center;
}

p {
  padding-bottom: 0.5em;
}
