div.form {
  justify-content: center;
  display: flexbox;
  margin: auto;
  width: 250px;
}

.form input,
.form div {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  font-size: 75%;
}

textarea {
  width: 100%;
  height: calc(width * 0.33);
}
